@import ../../styles/variables
@import ../../styles/mixins
@import ../../styles/media

.title
  @include title()

.content
  @include content()

.list
  padding: 0 21.5px
  flex-grow: 1
  overflow-y: auto
  position: relative
  @include customScroll()

.notification
  display: block
  padding: 20px
  text-align: center

@include desktopMinDevice
  .title
    margin-bottom: 15px