@import ../../styles/variables
@import ../../styles/media
@import ../../styles/mixins

.body
  height: 100vh
  display: flex
  background-color: $ligthGrey

.wrapper
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: space-between
  overflow: hidden

.main
  @include wrapperPaddings()
  flex-grow: 1
  overflow-y: auto
  display: flex
  flex-direction: column
  overflow-y: auto

.title
  font-size: 29px
  font-weight: normal
  line-height: 33px
  color: $darkBlue
  letter-spacing: -0.725px
  margin-bottom: 30px

.content
  min-height: 324px
  background: $white
  border-radius: $borderRadiusBig
  box-shadow: $defaultBoxShadow
  display: flex
  flex-direction: column
  overflow-y: auto