@import ../../styles/variables
@import ../../styles/media
@import ../../styles/mixins

.title
  @include title()

.content
  @include content()
  max-height: 975px

@include desktopMinDevice
  .title
    margin-bottom: 15px

@include mobileDevice
  .title
    font-size: 23px