@import ../../styles/variables

.item
  min-height: $cell * 12
  padding: $cell * 4 $cell * 2
  margin: -1px 0
  border: 1px solid transparent
  border-radius: $borderRadiusBig
  display: flex
  align-items: center
  gap: $cell * 10
  transition: all $short ease
  &:first-of-type
    margin-top: 0

.changing
  padding-left: $cell * 4
  border-color: $confirmed
  .changingField
    font-weight: bold
    text-decoration: underline
    text-decoration-color: $confirmed
    height: auto

.parameters
  display: flex
  gap: $cell * 5
  flex-grow: 1

.parameter
  color: $darkBlue
  flex-shrink: 0
  display: flex
  align-items: center
  span
    font-weight: bold

.fixed
  width: 200px
  span
    flex-shrink: 0
  > input
      width: 100%

.large
  flex-grow: 1
  .changingField
    width: 100%
    padding-top: $cell * 4
    resize: none

.changingField
  font-family: "RobotoReg"
  color: $mainBlack
  margin: 0
  margin-left: $cell * 2
  padding: 0
  font-size: 16px
  line-height: 1
  background: none
  border: none
  transition: all $short ease
  &:focus
    outline: none


