@import ./variables
@import ./media

@mixin basicLink($size, $height, $ls)
  font-size: $size
  line-height: $height
  letter-spacing: $ls
  text-decoration: none
  color: $brightBlue
  cursor: pointer
  &:active
    color: $darkBlue

@mixin basicPadding($paddingType, $factor: 1)
  #{$paddingType}: $padding * $factor
  @include mobileDevice
    #{$paddingType}: $padding * $factor / 2

@mixin basicPaddingSide($paddingSideType, $factor: 1)
  #{$paddingSideType}: $paddingSide * $factor
  @include mobileDevice
    #{$paddingSideType}: $paddingSide * $factor / 2

@mixin wrapperPaddings()
  @include basicPadding(padding-top)
  @include basicPadding(padding-bottom)
  @include basicPaddingSide(padding-left)
  @include basicPaddingSide(padding-right)

@mixin customScroll()
  &::-webkit-scrollbar
    position: absolute
    top: 0
    right: 20px
    width: 5px
  &::-webkit-scrollbar-track
    position: absolute
    top: 0
    right: 20px
    border-radius: 10px
  &::-webkit-scrollbar-thumb
    position: absolute
    top: 0
    right: 20px
    border-radius: 5px
    background-color: #3d5170

@mixin adaptedForMobile($property, $minValue, $maxValue, $unit)
  #{$property}: calc((100vw - 320px) * #{$maxValue - $minValue} / (812 - 320) + #{$minValue}#{$unit})

@mixin title()
  font-size: 29px
  font-weight: normal
  line-height: 33px
  color: $darkBlue
  letter-spacing: -0.725px
  margin-bottom: 30px
  @include desktopMinDevice
    margin-bottom: 15px
  @include mobileDevice
    font-size: 23px

@mixin content()
  min-height: 324px
  background: $white
  border-radius: $borderRadiusBig
  box-shadow: $defaultBoxShadow
  display: flex
  flex-direction: column
  flex-grow: 1
  overflow-y: auto

@mixin editEntity()
  margin-left: auto
  button
    font-size: 11px
    line-height: 13px
    color: $control
    min-width:  71.5px
    padding: 5.5px 7.5px 6px 15.5px
    box-sizing: border-box
    background: $white
    border: 0.5px solid $softhGrey
    cursor: pointer
    position: relative
    transition: all $short ease
    &:hover
      color: $mainBlack
      border-color: $darkBlue
      z-index: 3