@import ./variables
@import ./media

@mixin basicLink($size, $height, $ls)
  font-size: $size
  line-height: $height
  letter-spacing: $ls
  text-decoration: none
  color: $brightBlue
  cursor: pointer
  &:active
    color: $darkBlue

@mixin basicPadding($paddingType, $factor: 1)
  #{$paddingType}: $padding * $factor
  @include mobileDevice
    #{$paddingType}: $padding * $factor / 2

@mixin basicPaddingSide($paddingSideType, $factor: 1)
  #{$paddingSideType}: $paddingSide * $factor
  @include mobileDevice
    #{$paddingSideType}: $paddingSide * $factor / 2

@mixin wrapperPaddings()
  @include basicPadding(padding-top)
  @include basicPadding(padding-bottom)
  @include basicPaddingSide(padding-left)
  @include basicPaddingSide(padding-right)