// colors

$ligthGrey: #f5f6f8
$softhGrey: #becad6
$classicGrey: #fbfbfb
$ultraLightGrey: #e1e5eb
$white: #ffffff
$darkWhite: #ffffffc1
$darkBlue: #3D5170
$dimBlue: #495057
$lightBlue: #cacedb
$greyBlue: #818EA3
$softBlue: #abb6bf
$brightBlue: #007BFF
$crimson: #c4183c
$mainBlack: #121212

//animations
$short: 300ms

// media
$desktop: 1439px
$desktopMin: 1023px
$tablet: 767px

//basic layout values
$padding: 25px
$paddingSide: 27.5px