@import ../../styles/variables

.header
  min-height: 71.5px
  display: flex
  align-items: center
  padding-right: $paddingSide
  background-color: $white
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12)

.searchbar
  height: 100%
  flex-grow: 1
  position: relative
  svg
    position: absolute
    top: 50%
    left: $paddingSide
    transform: translateY(-50%)
    z-index: 0
    path
      transition: all $short ease

.input
  font-size: 13px
  line-height: 15px
  letter-spacing: -0.0928572px
  width: 100%
  height: 100%
  padding: $padding $padding * 2
  box-sizing: border-box
  border: none
  background-color: transparent
  border-right: 1px solid $lightBlue
  position: relative
  z-index: 1
  &:focus
    outline: none
    + svg
      path
        fill: $brightBlue
  &::placeholder
    font-size: 13px
    line-height: 15px
    letter-spacing: -0.0928572px

.user
  height: 100%
  display: flex
  align-items: center
  position: relative

.notification
  height: 25px
  padding: 15px 10px
  margin: auto $padding
  display: flex
  align-items: center
  justify-content: center
  background-color: transparent
  border: none
  position: relative
  cursor: pointer
  svg
    transition: all $short ease
  &:hover
    svg
      transform: scale(1.1)

.count
  font-family: "RobotoBld"
  font-size: 9px
  line-height: 13px
  color: $white
  width: 14px
  height: 14px
  border-radius: 50%
  background-color: $crimson
  position: absolute
  bottom: 0
  right: 0
  display: flex
  align-items: center
  justify-content: center

.profile
  padding-left: $padding
  border-left: 1px solid $lightBlue
  position: relative

.more
  max-height: 42px
  padding: 0
  display: flex
  align-items: center
  background-color: transparent
  border: none
  outline: none
  cursor: pointer
  &:hover
    .name
      color: $brightBlue
      &::after
        border-top-color: $brightBlue

.active
  img
    transform: scale(1.05)
  .name
    color: $brightBlue
    &::after
      border-top-color: $brightBlue

.avatar
  width: 42px
  height: 42px
  margin-right: 13px
  border-radius: 50%
  display: block
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover
    display: block
    transition: all $short ease

.name
  padding-right: $padding * 2
  position: relative
  transition: all $short ease
  &::after
    content: ""
    position: absolute
    top: 50%
    right: 0
    width: 0px
    height: 0px
    border: 4.25px solid transparent
    border-top: 4.5px solid $softBlue
    border-bottom: none
    transform: translateY(-50%)
    transition: all $short ease

.profileDropdown
  width: calc(100% - 25px)
  padding-top: 14px
  position: absolute
  top: 100%
  right: 0
  box-shadow: 0px 10.5px 8.5px rgba(90, 97, 105, 0.12)

.item
  text-align: right
  width: 100%
  padding: 5px
  background-color: $white
  display: block
  outline: none
  border: none
  cursor: pointer
  transition: all $short ease
  &:hover
    background-color: $ligthGrey
  &:active
    background-color: $ultraLightGrey
