@import ../../styles/variables
@import ../../styles/mixins
@import ../../styles/media

.header
  @include basicPaddingSide(padding-right)
  min-height: 71.5px
  display: flex
  align-items: center
  background-color: $white
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12)
  position: relative

.showMenu
  display: none

.searchbar
  height: 100%
  flex-grow: 1
  position: relative
  svg
    position: absolute
    top: 50%
    left: $paddingSide
    transform: translateY(-50%)
    z-index: 0
    path
      transition: all $short ease

.input
  @include basicPadding(padding-top)
  @include basicPadding(padding-bottom)
  @include basicPaddingSide(padding-left, 2)
  @include basicPaddingSide(padding-right, 2)
  font-size: 13px
  line-height: 15px
  letter-spacing: -0.0928572px
  width: 100%
  height: 100%
  box-sizing: border-box
  border: none
  background-color: transparent
  border-right: 1px solid $lightBlue
  position: relative
  z-index: 1
  &:focus
    outline: none
    + svg
      path
        fill: $brightBlue
  &::placeholder
    font-size: 13px
    line-height: 15px
    letter-spacing: -0.0928572px

.user
  height: 100%
  display: flex
  align-items: center
  position: relative

.showBtn
  height: 100%
  width: 71.5px
  padding: 0
  display: flex
  justify-content: center
  align-items: center
  background: none
  border: none
  border-right: 1px solid $lightBlue
  position: relative
  cursor: pointer
  flex-shrink: 0
  svg
    transition: all $short ease
    path
      fill: rgb(129, 142, 163)
  &:hover
    svg
      transform: scale(1.1)

.count
  font-family: "RobotoBld"
  font-size: 9px
  line-height: 13px
  color: $white
  width: 14px
  height: 14px
  border-radius: 50%
  background-color: $crimson
  position: absolute
  top: 50%
  left: 50%
  display: flex
  align-items: center
  justify-content: center

.mobileOnly, .tabletIncluded
  display: none

.profile
  @include basicPadding(padding-left)
  height: 100%
  position: relative
  display: flex
  align-items: center

.more
  padding: 0
  @include basicPadding(padding-top)
  @include basicPadding(padding-bottom)
  display: flex
  align-items: center
  background-color: transparent
  border: none
  outline: none
  cursor: pointer
  &:hover
    .name
      color: $brightBlue
      &::after
        border-top-color: $brightBlue

.active
  img
    transform: scale(1.05)
  .name
    color: $brightBlue
    &::after
      border-top-color: $brightBlue
      transform: rotate(-180deg)

.avatar
  width: 42px
  height: 42px
  margin-right: 13px
  border-radius: 50%
  display: block
  overflow: hidden
  flex-shrink: 0
  img
    width: 100%
    height: 100%
    object-fit: cover
    display: block
    transition: all $short ease

.name
  @include basicPaddingSide(padding-right, $factor: 2)
  position: relative
  transition: all $short ease
  &::after
    content: ""
    position: absolute
    top: 50%
    right: 0
    width: 0px
    height: 0px
    border: 4.25px solid transparent
    border-top: 4.5px solid $softBlue
    border-bottom: none
    transform: translateY(-50%)
    transition: all $short ease

.profileDropdown
  width: calc(100% - 25px)
  position: absolute
  top: 100%
  right: 0
  box-shadow: 0px 10.5px 8.5px rgba(90, 97, 105, 0.12)

.item
  text-align: right
  width: 100%
  padding: 5px
  background-color: $white
  display: block
  outline: none
  border: none
  cursor: pointer
  transition: all $short ease
  &:hover
    background-color: $ligthGrey
  &:active
    background-color: $ultraLightGrey

.burger
  width: 20px
  height: 2px
  border-radius: 2px
  background-color: $darkBlue
  display: block
  position: relative
  &::before, &::after
    content: ""
    width: 100%
    height: 100%
    position: absolute
    top: -5px
    left: 0
    background-color: inherit
  &::after
    top: auto
    bottom: -6px

@include tabletDevice
  .tabletIncluded
    display: flex


@include mobileDevice
  .header
    min-height: auto
  .searchbar
    svg
      display: none
  .input
    border-right: none
  .showBtn
    height: 57px
    width: 57px
    border-right: none
  .user
    margin-left: auto

@include mobileSmallWidth
  .searchbar
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    border-top: 1px solid $lightBlue
    background: $white
    box-shadow: 0px 10px 9.5px rgba(105, 148, 197, 0.12)
    z-index: -1
    transition: all $short linear
  .movingFromTop
    z-index: 0
    transform: translateY(100%)
  .mobileOnly
    display: block

@include galaxyFold
  .profile
    padding-left: 0
  .more
    display: block
  .profileDropdown
    width: auto
  .avatar
    width: 30px
    height: 30px
    margin-right: 0
    margin-left: auto